@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
    width: 100%;
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
}

.mars-root {
    position: relative;
    width: 100%;
    height: 100%;
    background: #0b0d12;
    overflow: hidden;
}

.main-canvas {
    position: absolute;
    inset: 0;
    z-index: 1;
}

.my-custom-class {
    @apply bg-blue-500 text-white p-4; // Możesz używać Tailwinda wewnątrz SCSS!

    span {
        font-weight: bold;
    }
}