@import "tailwindcss";


@theme {
    --font-poppins: Poppins, sans-serif;
}

html,
body,
#root {
    width: 100%;
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
}

.mars-root {
    position: relative;
    width: 100%;
    height: 100%;
    background: #0b0d12;
    overflow: hidden;
}

.main-canvas {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    pointer-events: auto;
    touch-action: none;
}

.my-custom-class {
    @apply bg-blue-500 text-black p-4;

    span,
    a {
        font-weight: bold;
    }
}